
*.gz

O_lurida/w*
util/analyses/cd*
util/rad-seq-example/simRADs_R1.fastq

S_salar/.ipynb_checkpoints/lncRNA-BLAST-genome-checkpoint.ipynb

S_salar/data/Filter3_lncRNA_21065.fa


Andrew1/query.fa

Andrew/transcriptome.fasta


uniprot-reviewed.tab

uniprot-reviewed.sort

.DS_Store

.DS_Store
